<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Maintenance</title>
<style>
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
html {
  padding: 30px 10px;
  font-size: 20px;
  line-height: 1.4;
  color: #737373;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 500px;
  _width: 500px;
  padding: 30ps 20px 50px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
  background: #fcfcfc;
}
#container {
  max-width: 380px;
  _width: 380px;
  margin: 0 auto;
}
h1 {
  margin: 0 10px;
  font-size: 50px;
  text-align: center;
}
p { margin: 1em 0 }
</style>
</head>
<body>
<div id="container">
  <h1>The system is down</h1>
  <p>
  The system is down for <%= reason ? reason : 'maintenance' %> as of
  <%= Time.now.strftime("%H:%M %Z") %>.
  </p>

  <p>
  It'll be back <%= deadline ? deadline : "shortly" %>.
  </p>
</div>
</body>
</html>
